.wizard-card {
  box-sizing: border-box;
  display: flex;
  background-color: rgb(214, 226, 240);
  min-width: 45%;
  margin: 0.5rem;
  border: 0.1rem solid rgb(214, 226, 240);
  cursor: pointer;
}

.wizard-card:hover {
  box-sizing: border-box;
  background-color: lightblue;
  border: 0.1rem solid dodgerblue;
}

.wizard-card--avatar {
  height: 4rem;
}

.wizard-card--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wizard-card--email {
  color: darkslategray;
  font-size: 75%;
}

.wizard-card--selected {
  background-color: dodgerblue !important;
  color: #fff;
}
