.company-container {
  width: 100%;
  border: 0.05rem solid darkslategray;
  height: 16rem;
  overflow-y: scroll;
}

.company--next-prev {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 0 !important;
}

.company-search-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
