.progress--side-bar {
  padding-right: 2rem;
  min-width: 25%;
}

.progress--steps {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .progress--side-bar {
    display: none;
  }
}
