.progress--side-bar {
  padding-right: 2rem;
  min-width: 25%;
}

.progress--steps {
  margin-bottom: 2rem;
}

.step--number {
  display: inline-block;
  border: 0.1rem solid grey;
  border-radius: 5rem;
  height: 2rem;
  width: 2rem;
  padding: 0.3rem;
  margin: 0.2rem;
  vertical-align: middle;
  text-align: center;
  color: grey;
}

.step--name {
  color: grey;
  margin-left: 0.1rem;
}

.progress--completed {
  border-top: 0.1rem solid black;
  padding: 1rem 0;
}

.progress--detail-title {
  color: grey;
  font-size: 70%;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.step-active * {
  color: black;
}

.step-active > .step--number {
  border: 0.1rem solid black;
}
