.card {
    width: 20%;
    margin: 10px;
    box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.66);
    -webkit-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.66);
    -moz-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.66);
    padding: 10px;
    text-decoration: none;
    color: black;
}

.card > img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.card > p {
    text-align: center;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

