.main-header {
  background-color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  color: #000;
}

.main-header > span {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
}

header > a {
  border: 1px solid #000;
  padding: inherit;
  border-radius: 3px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

header > nav {
  margin-left: auto;
}

header > nav > a {
  margin: 0 10px;
}
header .active {
  text-decoration: underline;
}