#detailPage {
  padding: 40px 100px;
  color: #fff;
}

#detailPage > .profile {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#detailPage > .profile > .profile-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 60px;
}
#detailPage > .profile > .profile-info > div {
  text-align: center;
  flex-basis: 40%;
  padding: 30px 10px;
  max-height: 100px;
  transition: 0.6s;
  word-break: break-all;
}

@media only screen and (max-width: 768px) {
}
