footer {
  padding: 15px 0;
  background-color: #fff;
  text-align: center;
  font-size: 80%;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  color: #000;
}

@media only screen and (max-width: 425px) {
  footer {
    font-size: 12px;
  }
}
