.wizard-container {
  display: flex;
  padding: 2rem 10%;
  height: 90vh;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.wizard--panel {
  border-left: 0.1rem solid black;
  padding: 0.5rem 0rem 0.5rem 2rem;
  width: 100%;
}

.step-hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .wizard--panel {
    border: none;
    padding: 0;
  }
}
